/* sfondo */
body {
    background-color: #000000;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    }

/* avatar e corona */
    .avatar {
      
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
    
    img {
      
      width: 5%;
    }

    /*caratteri*/
    hr {
        color:white;
        border-top: 2px dotted;
        width:50%;
        margin-left: auto;
        margin-right: auto;
    }
    
    div.descrizione {
    
        text-align: center;
        color:white;
    }
    
    
    a {
    
        text-decoration: none;
        font-size: 18px;
        color:white;
    }
    
    /*fine caratteri*/
    
    /* stelline */

        #container{
            text-align: center;
        }

        .rating {
            justify-content: center;
            display: flex;
            font-size: 2rem;
        }
        .rating span {
            color: gray;
            cursor: pointer;
        }
        .rating span.selected {
            color: gold;
        }
    
    /* fine stelline*/
    
    /*menu*/
    
    .nav-item
    {
        text-decoration: none;
        padding-left:60px;
    }
    
    .dropdown
    {
        text-decoration: none;
        padding-left:80px;
    }
    
    .nav-link {
        color:black;
        font-size: 20px;
        text-shadow: -1px 0 white,
        0 1px white, 1px 0 white,
        0 -1px white;
        
    }
    
    
    /*fine menu*/
    
     
    
    /*da bootstrap */
    
    .form-signin {
        max-width: 330px;
        padding: 15px;
      }
      
      
      .form-signin .form-floating:focus-within {
        z-index: 2;
      } 
      
      .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
      
      
      /*fine bootstrap*/
    
    
    