<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Upload a new certificate</title>
</head>
<body>
    <a th:href='${link1}'> Go back </a>
    <form th:action="${link2}" method="post" enctype="multipart/form-data">
        <label for="searchAnimal">Search</label>
        <input type="text" id="searchAnimal" name="searchAnimal" maxlength="50" size="20" placeholder="Search an animal" required></input>
        <input type="submit" value="Search">
    </form>
    <br>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Regions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item, i : ${animalsNameRegistered}">
                <td><a th:href="@{'../../certificates/image?animal=' + ${item}}" th:text="${item}"></a></td>
                <td th:text="${animalsDescriptionRegistered[i.index]}"></td>
                <td th:text="${animalsRegionsRegistered[i.index]}"></td>
            </tr>
            <tr th:each="item, i : ${animalsName}">
                <td th:text="${item}"></td>
                <td>???</td>
                <td>???</td>
            </tr>
        </tbody>
    </table>

    <script>
        function OrderRedirect() {
            window.location.href = "../certificates/animals/increasingOrder";
        }
    </script>
</body>
</html>