<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Upload a new certificate</title>
</head>
<body>
    <a href='/certificates'> Go back </a>
    <form action="/certificates/animals/search" method="post" enctype="multipart/form-data">
        <label for="searchAnimal">Search</label>
        <input type="text" id="searchAnimal" maxlength="50" size="20" name="searchAnimal" placeholder="Search an animal" required ></input>
        <input type="submit">
    </form>
    <br>
    <table border="1">
        <thead>
            <tr>
                <th>
                    <button type="button" onclick="OrderRedirect()" style="border:none">Name</button>
                </th>
                <th>Description</th>
                <th>Regions</th>
            </tr>
        </thead>
        <tbody>
            <!-- Utilizzo delle liste nel modello Thymeleaf -->
            <tr th:each="item, i : ${animalsNameRegistered}">
                <td><a th:href="@{'../certificates/image?animal=' + ${item}}" th:text="${item}"></a></td>
                <td th:text="${animalsDescriptionRegistered[i.index]}"></td>
                <td th:text="${animalsRegionsRegistered[i.index]}"></td>
            </tr>
            <tr th:each="item, i : ${animalsName}">
                <td th:text="${item}"></td>
                <td>???</td>
                <td>???</td>
            </tr>
        </tbody>
    </table>

    <script>
        function OrderRedirect() {
            window.location.href = "../certificates/animals/increasingOrder";
        }
    </script>
</body>
</html>